body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

h1{
    text-align: center;
    color: black;
    font-size: xx-large;
    font-weight: 600;
    font-style: normal;
    font-variant: small-caps;
}  

.heading{
    background-color: #333;
    color: #fff;
    padding: 20px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;

}
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .gallery-item {
    margin: 10px;
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item img:hover {
    transform: scale(1.1);
  }
  
